html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

@keyframes roller-coaster {
    from {
        /* opacity: 0; */
        transform: skew(0) rotateX(0);
    }

    to {
        /* opacity: 1.0; */
        transform: skew(180deg) rotateX(180deg);
    }

    /* 100% {
        /* opacity: 0; */
        /* transform: rotate(-90deg); */
    } */

.top-image {
    width: 80%;
}

.hidden {
    display: none;
}

.picture-frame {
    width: 100%;
    border: 3px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* overflow: hidden; */
    /* margin: -20px; */
    /* background: white */
}

/* use the :hover pseudo-class */
.picture-frame:hover {
    /* outline: 2px solid red; */
    /* transform: scale(1.10); */
}

.picture-frame:hover img {
    /* outline: 2px solid red; */
    transform : scale(1.10);
    opacity: 1;
}


.picture-frame img {
    /* width: 100%; */
    padding: 10%;
    /* border: 3px solid orange; */
    /* min-height: 400px; */
    max-height: 100%;
    max-width: 100%;
    /* transition: transform 1000ms ease-in-out; */
    opacity: 1;
    /* 
        1. property names or the word 'all'
        2. duration in seconds or ms
        3. timing function
    */
}

.picture-frame img.big {
    /* transform: scale(4.0) */
    animation: roller-coaster 2s infinite;
    opacity: 1;
    border-radius: 50%;
}

.picture-frame p.big {
    /* transition: transform .3s ease-in-out, opacity 1s linear; */
    color: green;
}

.dog-park {
    /* if you set height, thats how big element will be no matter what. dogs will overflow */
    /* min-height: 500px; */
    /* border: 5px solid gold; */
    display: flex;
    flex-direction: column;
    /* how to line up on main axis */
    justify-content: flex-start;
    /* how to line up on cross axis */
    align-items: center;
    /* flex-wrap: wrap; */
}

/* like an if statement but for css */
@media screen and (min-width: 500px) {
    body {
        background: red;
    }
    .picture-frame {
        width: 25%;
        /* padding: 10%; */
        /* height: 200px; */
    }
    .dog-park {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (min-width: 1000px) {
    body {
        background: blue;
    }

    .logo-text {
        font-size: 32px;
        text-align: center;
    }
    
    .picture-frame {
        /* height: 200px; */
        /* padding: 10%; */
        width: 25%;
    }
}