html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

.picture-frame {
    width: 150px;
    position: absolute;
    top: 0;
}

.picture-frame img {
    width: 100%;
}

#one {
    left: 0;
    z-index: 10;
}

#two {
    top: 160px;
    left: 55px;
    z-index: 11;
}

#three {
    top: 170px;
    left: 60px;
}

.dog-park {
    position: relative;
}