html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

.picture-frame {
    /* width: 33%; */
    border: 3px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
    overflow: hidden;
    padding: 10%;
}

.picture-frame img {
    width: 100%;
    /* padding: 10%; */
    border: 3px solid orange;
    /* min-height: 400px; */
    /* height: 200px; */

}

.dog-park {
    /* if you set height, thats how big element will be no matter what. dogs will overflow */
    /* min-height: 500px; */
    border: 5px solid gold;
    display: flex;
    flex-direction: column;
    /* how to line up on main axis */
    justify-content: flex-start;
    /* how to line up on cross axis */
    align-items: center;
    /* flex-wrap: wrap; */
}

/* like an if statement but for css */
@media screen and (min-width: 500px) {
    body {
        background: red;
    }
    .picture-frame {
        width: 50%;
        padding: 10%;
        height: 100px;
    }
    .dog-park {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (min-width: 1000px) {
    body {
        background: blue;
    }

    .logo-text {
        font-size: 32px;
        text-align: center;
    }
    
    .picture-frame {
        height: 200px;
        padding: 10%;
    }
}